body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #fffbf7;
}

.flash-message {
    margin: auto;
    text-align: center;
    color: #d64237;
}

h2 {
    color: #d64237;
    margin-bottom: 30px;
}

#login-form, #register-form {
    background-color: #ffeace;
    margin: 10px auto;
    margin-top: 50px;
    padding: 20px 20px ;
    border-radius: 25px;
    width: 300px;
}
#login-form {
    height: auto;
    min-height: 350px;
}
#register-form {
    height: auto;
    min-height: 450px;
}
#login-form input,
#register-form input {
    display: block;
    background: #ffeace;
    padding: 8px;
    margin: 20px auto;
    border-radius: 30px;
    border: 3px dashed #d64237;
    width: 85%;
    outline: none;
    transition: all 0.2s ease;
    font-weight: bold;
    color:#d64237;
    font-size: 18px;
    text-align: center;
}

#login-form input:hover,
#register-form input:hover {
    border: 3px solid #d64237;
}

#login-form input:focus,
#register-form input:focus {
    outline: 5px solid #d64237; /* couleur personnalisée */
    outline-offset: -4px; /* optionnel : décolle un peu l'outline du champ */
    transform: scale(1.05);
}

#login-form input[type="submit"],
#register-form input[type="submit"]{
    font-weight: bold;
    color: #c7e9ff;
    background: linear-gradient(50deg, #3f98c2 30%, #1a49cc);
    border-radius: 30px;
    padding: 10px 10px;
    margin: 30px auto;
    margin-top: 50px;
    margin-bottom: 40px;
    cursor: pointer;
    border: none;
    width: auto;
    transform: scale(1.06);
    transition: all 0.2 ease;
}

#login-form input[type="submit"]:hover,
#register-form input[type="submit"]:hover {
    background: #61619c;
}

#login-form input[type="submit"]:focus,
#register-form input[type="submit"]:focus {
    border:none;
    outline: none;
}


a {
    position: relative;
    text-decoration: none;
    background: linear-gradient(20deg, #3f98c2 50%, #491acc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    text-decoration: none;
}

a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    background: linear-gradient(20deg, #3f98c2 50%, #491acc);
    transition: width 0.3s ease;
}

a:hover::after {
    width: 100%;
}
