body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #fffbf7;
}

/* ======================= COMMON ELEMENTS ====================== */
main {
    background-color: #ffeace;
    margin: 10px auto;
    margin-top: 200px;
    padding: 20px 20px;
    border-radius: 25px;
    max-width: 900px;
}

ul, ol {
    list-style: none;
    padding-left: 0;
}

li {
    list-style: none;
}

select {
    background: #ffeace;
    padding: 4px;
    border-radius: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px dotted #d64237;
    transition: all 0.2s ease;
    font-weight: bold;
    color: #d64237;
    font-size: 14px;
    text-align: center;
    outline: none;
}

select:hover {
    border: 2px solid #d64237;
}

select:focus {
    color: #db7850;
}

/* ======================= HEADER ====================== */
header {
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    transition: transform 0.4s ease;
}

h1 {
    background: linear-gradient(50deg, #db6c50 70%, #d64237);
    color: #ffeace;
    padding: 20px 0 50px;
    margin-top: -10px;
    text-align: center;
}

#main-header.scrolled {
    transform: translateY(-60px);
}

nav.nav-link ul {
    background: linear-gradient(20deg, #3f98c2 50%, #491acc);
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    margin: 30px auto;
    margin-top: -50px;
    padding: 18px 20px;
    border-radius: 30px;
    height: 30px;
    max-width: 800px;
    box-shadow: 0px 4px 10px #db7850;
}

nav.nav-link a {
    color: #c7e9ff;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 30px;
    display: inline-block;
    transition: all 0.2s ease;
}

nav.nav-link a:hover {
    color: #ffeace;
    padding: 10px 40px;
    font-size: 20px;
    background: linear-gradient(50deg, #db7850, #d64237);
    border-radius: 30px;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flash-message {
    background-color: #f9c2c2;
    color: #721c24;
    padding: 10px;
    margin: 20px auto;
    border-radius: 5px;
    width: 80%;
    text-align: center;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

/* ======================= FORMS ====================== */
form {
    background: #ffffff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    max-width: 900px;
    margin: 30px auto;
}

form input[type="text"],
form textarea {
    width: 60%;
    padding: 12px;
    margin: 15px auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fefefe;
    display: block;
}

form input.question-input {
    font-size: 16px;
    font-weight: bold;
    width: 60%;
    display: block;
    margin: 15px auto;
}

form input[type="submit"],
form button {
    background: #35424a;
    color: #ffffff;
    border: none;
    padding: 12px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
}

form input[type="submit"]:hover,
form button:hover {
    background: #45a049;
}



/* ======================= TOGGLE SWITCH ====================== */
.toggle-switch-container {
    display: flex;
    align-items: center;
    gap: 12px;
    margin: 20px 0;
}

/* ======================= RESPONSIVE ====================== */
@media (max-width: 600px) {
    .container {
        width: 95%;
    }

    form {
        padding: 20px;
    }
}

/* ======================= QCM COMMON STYLES ====================== */
.div-header {
    color: #d64237;
    font-weight: 550;
    font-size: 16px;
    background-color: #fcf3e8;
    margin: auto auto;
    margin-bottom: 10px;
    padding: 10px 20px;
    border-radius: 20px;
    max-width: 820px;
    margin-bottom: 30px;
    box-shadow: 0px 4px 10px #db7850;
}

.div-body {
    color: #5057b8;
    font-weight: 550;
    font-size: 16px;
    background: #e4f2fc;
    margin: auto auto;
    margin-bottom: 10px;
    padding: 10px 20px;
    border-radius: 20px;
    max-width: 820px;
    margin-bottom: 30px;
    box-shadow: 0px 4px 10px #5057b8;
    transition: all 0.2s ease;
}

.div-body button {
    display: inline-block;
    font-weight: bold;
    color: #fcf3e8;
    background: linear-gradient(50deg, #db7850, #d64237);
    border-radius: 30px;
    padding: 10px 10px;
    cursor: pointer;
    border: none;
    margin-top: 0;
}

.div-body button:hover {
    background: #a04945;
}

div.answers {
    color: #d64237;
    font-weight: 550;
    font-size: 16px;
    background: #fcf3e8;
    margin: auto auto;
    margin-bottom: 10px;
    padding: 10px 20px;
    border-radius: 20px;
    border: 3px solid #db7850;
    max-width: 820px;
    margin-bottom: 30px;
}



.explanation {
    text-align: center;
    font-size: 18px;
    color: #3f98c2;
    padding: 10px 0px;
    border-radius: 30px;
    margin: 0 auto;
    margin-bottom: 30px;
    font-weight: bolder;
}

div.points-fields {
    background: #fcf3e8;
    border-radius: 20px;
    padding: 20px;
    margin: 20px auto;
    border: 3px solid #db7850;
    width: 50%;
}

.negative-points,
.question-points {
    color: #d64237;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.points {
    margin: 10px;
    margin-left: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    min-width: 100px;
}

.points span {
    width: 30px;
    text-align: center;
}


